/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "style.css";


#classes {
    margin-top: calc(var(--navbar-height) + 2rem);
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: max(15rem) -webkit-max-content;
    -ms-grid-rows: max(15rem) max-content;
    -ms-grid-columns: 100%;
    grid-template: max(15rem) -webkit-max-content / 100%;
    grid-template: max(15rem) max-content / 100%;
    width: 100%;
    background: -o-radial-gradient(24.1% 68.8%, circle, rgb(50, 50, 50) 0%, var(--secondary-color) 99.4%);
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, var(--secondary-color) 99.4%);
    margin-bottom: 5rem;
}

#classes > picture, #classes > .overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#classes > picture img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#classes > .title-section {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
}

#classes > .content-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;

    display: -ms-grid;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--side-spacing);
    margin-bottom: var(--side-spacing);
}

#classes > .title-section, #classes > .content-container {
    z-index: 0;
    padding: 0 var(--side-spacing);
}

#classes > .content-container > li {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    opacity: 0.9;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2)
}

.content-container > li > article  h3 {
    margin-bottom: 0.5rem;
}

.content-container > li > article hr {
    margin-bottom: 2rem;
}
