/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "style.css";

#services {
    margin-top: calc(var(--navbar-height) + 2rem);
    width: 100vw;
    background: -o-radial-gradient(24.1% 68.8%, circle, rgb(50, 50, 50) 0%, var(--secondary-color) 99.4%);
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, var(--secondary-color) 99.4%);
}

#services > p {
    padding: 0 var(--side-spacing);
    text-align: center;
}

.content-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: -webkit-max-content 5px -webkit-max-content 5px -webkit-max-content;
    -ms-grid-rows: max-content 5px max-content 5px max-content;
    -ms-grid-columns: max(100%);
    grid-template: repeat(3, -webkit-max-content) / max(100%);
    grid-template: repeat(3, max-content) / max(100%);
    grid-auto-flow: column;
    margin-top: 2rem;
    gap: 5px 5px;
}

.content-container > .overlay-background {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
}

.content-container > img {
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
}

.content-container > img:nth-of-type(1), .content-container > img:nth-of-type(1) + .overlay-background {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
}

.content-container > img:nth-of-type(2), .content-container > img:nth-of-type(2) + .overlay-background {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
}

.content-container > img:nth-of-type(3), .content-container > img:nth-of-type(3) + .overlay-background {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
}

.content-container > article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem;
    line-height: 1.25;
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    z-index: 0;
}

.content-container > article:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
}

.content-container > article:nth-of-type(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
}

.content-container > article:nth-of-type(3) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
}

.content-container > article >  h3 {
    color: var(--primary-color);
}


@media (min-width: 992px) {
    .content-container {
        -ms-grid-rows: 1fr 0 1fr 0 1fr;
        -ms-grid-columns: 1fr 0 1fr;
        grid-template: repeat(3, 1fr) / 1fr 1fr;
        gap: 0;
    }

    .content-container > img:nth-of-type(n), .content-container > img:nth-of-type(n) + .overlay-background {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / span 2;
        max-height: 45rem;
        width: 100%;
    }

    .content-container > article {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / span 1;
        padding: 5rem;
        mix-blend-mode: screen;
    }

    .content-container > article:nth-of-type(1) {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / span 1;
    }
}
